Class balance analysis          (Done)
Feature covariance analysis     (Done)
Outlier detection and removal   (Done)
learning curves                 (Done)
Model bias-variance analysis    (Done)
Comparison of used models with baseline models  (Done)
Model hyperparameter tuning (or search)         (Done)
Regularization                  (Done)